a {
    text-decoration: none;
    font-size: 13px;
}
a:hover {
    text-decoration: underline;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 16px;
    padding-top: 9px;
    font-size: 13px;
}
footer {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.54);
    position: fixed;
    left: 0;
    bottom: 0;
}
#main {
    position: fixed;
    display: inline-grid;
    justify-content: center;
    top: 25%;
    left: 50%;
    margin-top: -46px;
    margin-left: -136px;
}
.header-left {
    display: grid;
    grid-template-columns: auto auto;
    position: fixed;
    top: 0;
    left: 5;
}
.header-right {
    display: flex;
    position: relative;
    float: right;
}
.apps-button {
    background-color: #4285f4;
    text-align: center;
    padding-right: 16px;
    padding-bottom: 9px;
    justify-content: center;
    outline: none;
    font-weight: bold;
    color: #fff;
    border: 10px;
    border-radius: 2px;
    height: 12px;
}
.search-box {
    width: 272px;
    height: 34px !important;
    border-radius: 20px 20px 20px 20px;
    box-sizing: border-box;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.button-box {
    padding-left: 12px;
}
.search-button {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    border-radius: 4px;
    font-size: 14px;
    line-height: 27px;
    height: 36px;
}
.francais {
    position: relative;
    justify-self: center;
}
.pre-footer {
    position: fixed;
    left: 0px;
    bottom: 50px;
}
.footer {
    font-size: 20x;
}
.footer-left {
    display: inline;
}
.footer-right {
    position: fixed;
    float: right;
    vertical-align: bottom;
    
}