.header-left {
    display: grid;
    grid-template-columns: auto auto;
    font-size: 13px;
    position: fixed;
    top: 0;
    left: 5;
}
.header-links {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 16px;
    padding-top: 9px;
}
#main {
    position: fixed;
    display: inline-grid;
    justify-content: center;
    top: 35%;
    left: 50%;
    margin-top: -46px;
    margin-left: -136px;
}
.search-box {
    width: 272px;
    height: 25px;
    border-radius: 20%;
    
}